* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
}

h1 {
    padding-top: 20px;
}

main {
    padding-top: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.player-board {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.result-board {
    display: flex;
    justify-content: center;
    width: 400px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    padding: 3px;
    border: 1px solid black;
    width: 400px;
    aspect-ratio: 1 / 1;
}

.cell {
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    aspect-ratio: 1 / 1;
}

.button-board {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .game-board, .button-board, .player-board {
        width: 80%; 
    }
}